@use '../../styles/mixins.scss' as *;

$input-border-color: #e0e0e0;
$input-border-focus-color: #41AD49;
$input-label-color: #8E8E8E;
$input-label-color-active: #8E8E8E;
$input-text-color: #323232;
$input-background: #fff;
$input-transition: all 0.3s ease;

.input-root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
  
    input {
      width: 100%;
      padding-left: 16px;
      padding-top: 16px;
      padding-top: 24px;
      padding-bottom: 12px;
      border: 1px solid $input-border-color;
      border-radius: 4px;
      background-color: $input-background;
      color: $input-text-color;
      font-size: 14px;
      outline: none;
      transition: $input-transition;
  
      &:focus {
        border-color: $input-border-focus-color;
        box-shadow: 0 0 0 3px rgba(100, 108, 255, 0.1);
      }
  
      &:focus + .input-placeholder,
      &:not(:placeholder-shown) + .input-placeholder,
      &[value]:not([value=""]) + .input-placeholder {
        top: 8px;
        font-size: 0.75rem;
        color: $input-label-color-active;
        transform: translateY(0);
      }
  
      &::placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
      }
  
      &:focus::placeholder {
        opacity: 0.5;
      }
    }
  
    .input-placeholder {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      color: $input-label-color;
      font-size: 14px;
      pointer-events: none;
      transition: $input-transition;
      background-color: $input-background;
      padding: 0;
    }
  
    &.has-value {
      .input-placeholder {
        top: 8px;
        font-size: 10px;
        color: $input-label-color-active;
        transform: translateY(0);
      }
    }
   
  }
  .input-label {
    font-size: 14px;
    font-weight: 500;
  }
}
