// Calculator SCSS Test File

$calculator-background-gradient: linear-gradient(135deg, #00a76f 0%, #007867 100%);

.calculator {
  background: $calculator-background-gradient;
  width: 100%;
  height: 100%;
}
