
@use '../../../styles/mixins.scss' as *;

$calculator-header-border-color: #41AD49;

.calculator {
  &-header{
    border-bottom: 2px solid $calculator-header-border-color;
    height: fit-content;
    padding: 20px;
    @include center-item;
  }
}