@use "../../styles/mixins.scss" as *;

$calculator-header-border-color: #41ad49;

.calculator {
  &-header {
    border-bottom: 2px solid $calculator-header-border-color !important;
    height: fit-content !important;
    padding: 20px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
  }
}
