// Custom Font Definitions - Helvetica Neue

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-UltraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Thin.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// Font Variables
$font-family-primary: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, sans-serif;

// Font Weight Variables
$font-weight-ultra-light: 100;
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-heavy: 800;

