.calculator-transportation {
  display: flex !important;
  flex-direction: column !important;
  gap: 12px;

  &-vehicle-type {
    display: flex !important;
    flex-direction: column !important;
    gap: 8px;
    &-option {
      display: flex !important;
      flex-direction: row !important;
      gap: 8px !important;
      align-items: center !important;
    }
  }
}
