.calculator-transportation {
  display: flex !important;
  flex-direction: column !important;
  gap: 12px;

  &-vehicle-type {
    display: flex !important;
    flex-direction: column !important;
    gap: 8px;

    &-option {
      display: flex !important;
      flex-direction: row !important;
      gap: 12px !important;
      align-items: center !important;
      padding: 12px 0px !important;
    }

    &-icon {
      width: 48px !important;
      height: 20px !important;
      color: #8e8e8e !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex-shrink: 0 !important;

      svg {
        width: 48px !important;
        height: 20px !important;
      }
    }
  }
  &-container-type {
    display: flex !important;
    flex-direction: column !important;
    gap: 8px;
  }
  &-shipping-info {
    display: flex !important;
    flex-direction: column !important;
    gap: 8px;
  }
  &-shipping-info-item {
    display: flex !important;
    flex-direction: column !important;
    gap: 8px !important;
  }
  &-shipping-info-item-ports {
    display: flex !important;
    flex-direction: row !important;
    gap: 8px !important;
  }
}
